.button{
	background-color: #2B96DD;
	border: none;
	border-radius: 3px;
    height: 50px;
    width:100px;
    color: #E0AB67;
    font-size: 170%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
  

}
form {

	width:10%;

	  margin: 10% auto;
	  display: flex;
	  justify-content: center;
}